.theme_option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $base * 1;
    border: 2px solid transparent;
    margin-bottom: $base * 2;
    border-radius: 5px;
    opacity: .8;

    &.selected {
        opacity: 1;
        @extend .border_color1;
    }

    .theme_option_label {}

    .theme_option_circles {}
}